<!DOCTYPE html>

<html>

<head>
    {{>header}}
    <title>WORDWOLF</title>
    <meta charset="UTF-8">
</head>

<body class="user">
    <header>
        <h1>WORDWOLF</h1>
    </header>
    <img src="images/wordwolf.png" alt="wordwolf">
    <form method="post">
        <h2>なまえをえらんでね</h2>
        <p>
            <select name="user">
                {{#each arrPersons as | val key |}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <button class="btn" name="type" value="check">お題を確認</button>
        </p>
    </form>
    <br>
    <br>
    <br>
    <form method="post">
        <button class="btn" name="type" value="manage">
            管理ページへ
        </button>
    </form>
</body>

</html>