<!DOCTYPE html>

<html>

<head>
    {{>header}}
    <title>お題画面</title>
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <h1>お題</h1>
    </header>
    <h2>{{name}}さんのお題は「{{theme}}」です！</h2>
    <br/>
    <button class="btn" onclick="history.back()">戻る</button>
</body>

</html>