header {
  margin-top: 30px;
  color: #ff8b82;
}

.btn {
  background-color: #ff8b82;
  color: white;
  font-size: large;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

hr {
  border-width: 3px;
  border-color: #ff8b82;
}

.align-right {
  text-align: right;
}

.caution {
  font-size: 36px;
  color: red;
}

.answer {
  display: none;
  font-size: 18px;
}
