header {
  height: 100px;
  width: 100%;
  padding: 15px 0;
  background-color: #ff8b82;
  color: white;
}

form {
  margin-left: 20px;
}

button {
  margin-left: 20px;
}

.btn {
  background-color: #ff8b82;
  color: white;
  font-size: large;
  font-family: 'Wawati SC';
}

h1 {
  margin-left: 15px;
  font-family: 'Chalkduster', 'Wawati SC';
}

h2 {
  font-family: 'Wawati SC';
}